<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MuscleTruth"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MealActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MealsActivity"
            android:exported="false" />
        <activity
            android:name=".AddServingActivity"
            android:exported="false" />
        <activity
            android:name=".WeightingActivity"
            android:exported="false" />
        <activity
            android:name=".WeightingsActivity"
            android:exported="false"
            android:theme="@style/Theme.MuscleTruth" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".AddMealActivity"
            android:exported="false" />
        <activity
            android:name=".AddWeightingActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="false" />
        <activity
            android:name=".AuthorizationActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".EnterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>